html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('https://images.pexels.com/photos/281260/pexels-photo-281260.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');

}

.wrapper{
    min-height: 60vh;
    width: 60%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:1.5rem 0 ;
    background: rgba(0, 77, 145,0.3) ;
}

form{
    width: 80%;
    display: flex;
    flex-direction: column;
    
    }

.form-control{
    width: 100%;
}    
label{
    display: block;
}

