html {
	box-sizing: border-box;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
    box-sizing: border-box;
	margin: 20px 0;
	color: white;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: url('https://images.pexels.com/photos/281260/pexels-photo-281260.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-attachment: fixed;
}

.heading {
	font-weight: bold;
}
.sub-heading {
	margin-top: 0;
}
.wrapper {
	min-height: 60vh;
	width: 60%;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1.5rem 0;
	background: rgba(0, 77, 145, 0.849);
}

form {
	width: 90%;
	display: flex;
    flex-direction: column;
    padding: 0;
}

.form-group {
	width: 100%;
    margin: 10px;
    box-sizing: border-box;
}

.form-control {
	width: 100%;
	border-radius: 5px;
	padding: 10px;
}
label {
	display: block;
    font-size: 1.3rem;
    width: 100%;
    margin-bottom:5px ;
}

option{

}

/* Media Queries */

@media screen and(min-width:700px) {
	.wrapper {
		width: 100%;
	}
}
