html,body {
	box-sizing: border-box;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	margin: 20px 0;
	color: #ffffff;
	background: url('https://images.unsplash.com/photo-1555679427-1f6dfcce943b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80') repeat center center;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.wrapper{
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #6B28DA;
	opacity: 0.9;
	border-radius: 10px;
}

.header{
	width: 100%;
	text-align: center;
}

 #title{
	width: 100%;
}

#description{
	width: 100%;
} 

#survey-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2.5rem;
	box-sizing: border-box;
}

.form-group {
width: 100%;
padding: 10px;
}

.form-group label{
	width: 100%;
	display: block;
	font-size: 1.3rem;
	margin-bottom: 10px;
}

.form-group > label:first-of-type{
	font-family:  Helvetica, sans-serif;
}

.form-group input{
	font-size: 1rem;
	padding: 5px;
}


.form-group .form-control{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	font-size: 1.3rem;
	border-radius: 10px;
	padding: 10px;
}

@media screen and (max-width:700px){
	.wrapper{
		width: 100%;
	}
	.header{
		min-height: 25vh;
		padding-top: 2.5rem;
		margin: 0;
		display: flex;
		flex-direction: column;
	}
	.header  #title{
		flex: 1;
		margin: 0;
		font-size: 1.2rem;
		font-size: 1.8rem;
	}
	
	.header #description{
		flex: 1;
		font-size: 1.3rem;
	} 
}